<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context" 
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc.xsd
			http://www.springframework.org/schema/context   
	        http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	        <!-- 扫描注解  -->
	        <context:component-scan base-package="com.fh.service"></context:component-scan>

	        <!--配置数据库连接池   dbcp（稳定）    c3po（性能高）   druid   -->
	        <bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		        <property name="url" value="jdbc:mysql://localhost:3306/ldea"></property>
		        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		        <property name="username" value="root"></property>
		        <property name="password" value="654321"></property>
		         <property name="testWhileIdle" value="true"/>             
                <property name="validationQueryTimeout" value="2"/>       
                <property name="timeBetweenEvictionRunsMillis" value="20000"/> 
                <property name="numTestsPerEvictionRun" value="20"/> 
		    </bean>
	          <!--生成sqlSession -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
    	<!-- 引入数据源    数据库连接池 -->
       <property name="dataSource" ref="myDataSource"></property>
       <!-- 引入映射文件 -->
       <property name="mapperLocations" value="classpath:models/*.xml"></property>
    </bean>
      <!-- 通过 MapperScannerConfigurer自动扫描指定basePackage中的所有的接口，并且
    	把sqlSession与接口结合-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.fh.dao" />
        <property name="sqlSessionFactoryBeanName" value="sqlSession" />
    </bean>
  
    
    <bean id="t" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="myDataSource"/>
    </bean>
    <!-- 配置事务的传播特性 -->
    <tx:advice id="a" transaction-manager="t"><!-- 配置事务管理器 -->
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="addlog*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="insert*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="del*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="upd*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="*" read-only="true"/>
            <!-- 如果不是以上三种，则配置成只读事务(如select)。只读事务可以提高性能，当更新某个对象时，将不会再做脏数据检查。(因为是只读的并不用更新，所以不用再作比较,判断是否读取到脏数据。) -->
        </tx:attributes>
    </tx:advice>
    <!-- .. 代表改包下任意嵌套层次的子包 -->
    <aop:config>
        <aop:advisor pointcut="execution(* com.fh.service..*.*(..))" advice-ref="a"/>
    </aop:config>
</beans>